@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=Josefin+Sans&family=Montserrat:wght@100;200&family=Oswald:wght@300&family=Roboto:wght@500&family=Rubik:wght@300&family=Share+Tech+Mono&family=Unbounded:wght@600&display=swap');



.playerContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: 300px;
    font-family: 'Josefin Sans';
    color: #3E4E50;
    padding: 15px;
    cursor: default;
}

.titleExplore {
    margin: 5px;
    padding: 15px;
    font-family: 'Josefin Sans';
    color: #3E4E50;
    cursor: default;
}

.titlePlayerList {
    margin: 5px;
    padding: 15px;
    font-family: 'Josefin Sans';
    color: #3E4E50;
    cursor: default;
}


.addPlayerBtn {
    border-radius: 5px;
    border: none;
    background-color: #5CBEFF;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin: 10px;
    padding: 15px;
    width: 150px;
    cursor: pointer;

}

.addPlayerBtn:hover {

    background-color: #0EE9AB;
}

.searchInput {
    border: 0.1px solid #a4a6a7;
    font-family: 'Josefin Sans';
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
    margin-left: 15px;
    outline: none;
    transition: 1s;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30px;

}

.searchInput::-webkit-search-cancel-button {
    display: none;
}

.searchIcon {
    position: absolute;
    top: 45%;
    right: 4%;
    width: 25px;
}