@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=Josefin+Sans&family=Montserrat:wght@100;200&family=Oswald:wght@300&family=Roboto:wght@500&family=Rubik:wght@300&family=Share+Tech+Mono&family=Unbounded:wght@600&display=swap');

.contentContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    margin-left: 310px;

}



.title {
    margin: 10px;
    padding: 15px;
    font-family: 'Josefin Sans';
    color: #3E4E50;
    cursor: default;
}

.addUserBtn {
    border-radius: 5px;
    border: none;
    background-color: #5CBEFF;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin: 15px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
}

.removeUserBtn {
    border-radius: 5px;
    border: none;
    background-color: #5CBEFF;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin: 15px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
}

.addUserBtn:hover {
    background-color: #0EE9AB;
}

.removeUserBtn:hover {
    background-color: rgb(237, 62, 62);
}

.userContainer {
    display: grid;
    grid-template-columns: repeat(5, 270px);
    margin-bottom: 15px;
    padding: 10px;

}

.userPhoto {
    height: 220px;
    width: 240px;
    border-radius: 15px;
    margin: 15px;
    object-fit: cover;
}

.fullName {
    font-family: 'Josefin Sans';
    font-size: 22px;
    margin: 10px 0px;
    font-weight: bold;
}

.name {
    height: 50px;
}

.userEmail {
    font-family: 'Josefin Sans';
    font-size: 18px;
    margin: 10px 0px;

}

.doctorData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}