@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=Josefin+Sans&family=Montserrat:wght@100;200&family=Oswald:wght@300&family=Roboto:wght@500&family=Rubik:wght@300&family=Share+Tech+Mono&family=Unbounded:wght@600&display=swap');

.AddUserModalContainer {
    position: absolute;
    height: 100vw;
    width: 100%;
    background-color: rgba(4, 4, 4, 0.5);

}


.addUserModal {
    position: fixed;
    top: 15%;
    left: 40%;
    width: 450px;
    height: 550px;
    border-radius: 5px;
    border: 1px solid #272727;
    background-color: rgba(253, 255, 252, 0.9);
    padding: 20px;
    color: #272727;
    font-family: 'Josefin Sans';
    overflow: hidden;
}

.closeModal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    border: none;
    background-color: rgb(207, 69, 69);
    color: #fff;
    cursor: pointer;
}

.inputsContainer input {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 390px;
    border-radius: 4px;
    border: 1px solid #5CBEFF;
    outline-color: #339ce2;

}

.inputsContainer input::file-selector-button {
    font-weight: bold;
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #5CBEFF;
    color: #F5F6F4;
    cursor: pointer;
}

.inputsContainer input::file-selector-button:hover {
    opacity: 0.8;
}

.uploadFileInput {
    padding: 15px;
}



.submitBtnContainer {
    margin: auto;
    width: max-content;
}

.submitBtn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3caffc;
    color: #fff;
    cursor: pointer;
    margin: 15px;
    width: 150px;
}

.submitBtn:hover,
.closeModal:hover {
    opacity: 0.7;
}

.fieldsAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(207, 69, 69);
}