@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond:wght@500&family=Josefin+Sans&family=Montserrat:wght@100;200&family=Oswald:wght@300&family=Roboto:wght@500&family=Rubik:wght@300&family=Share+Tech+Mono&family=Unbounded:wght@600&display=swap');

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff3f6;
    border-radius: 20px;
    box-shadow: 0 0 15px #011624;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    height: 600px;
    width: 500px;
    transition: 0.3s;
    overflow: hidden;

}

.LoginPageLogo {
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 1.5s;

}

.LoginPageLogo:hover {
    transform: scale(1.04);

}






.loginForm {
    display: flex;
    flex-direction: column;
    width: 350px;
    overflow: hidden;

}

.loginForm input {
    background-color: #F5F6F4;
    border: 1px solid #5CBEFF;
    border-radius: 5px;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    height: 25px;
    margin: 10px;
    outline-color: #339ce2;
}




.loginBtn {
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 50px;
    margin: 15px auto;
    padding: 10px;
    color: #EBF7FF;
    background-color: #3caffc;
    cursor: pointer;
}

.loginBtn:hover {
    opacity: 0.6;
}

.errNotification {

    color: red;
}


@media only screen and (max-width: 600px) {
    .formContainer {
        width: 300px;
        height: 500px;

    }

    .LoginPageLogo {
        width: 250px;
    }

    .loginForm {
        width: 250px;
    }
}

@media only screen and (max-width: 400px) {
    .LoginPageLogo {
        width: 200px;

    }
}