* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.AppContainer {
    height: 100vh;
    width: 100vw;
    background-color: #D8DDEF;
    display: flex;
    justify-content: center;
    align-items: center;

}